<div class="row mb-4">
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<h2>
			<i class="fas fa-cloud-download-alt" aria-hidden="true"></i>
			<?php echo __('Terms of service');?>
		</h2>
	</div>
</div>

<div class="card">
	<div class="row">
		<div class="col">&nbsp;&nbsp;Oui</div>
	</div>
</div>
